.comment {
    border: 1px solid #45A29E;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
}

.text {
    padding-top: 20px;
}

.nestedCommentsCount {
    margin-top: 20px;
    color: #45A29E;
}